: "${PYTHON_MODE:=venv}"
: "${PYTHON_BIN:=python3}"
: "${VENV_PATH:=${REPO_DIR}/.venv}"

: "${AUDIO_BACKEND:=ffplay}"
: "${AUDIO_DEVICE:=default}"

: "${NICAM_AUDIO_RATE:=32000}"
: "${WBFM_AUDIO_RATE:=48000}"
